@font-face {
    font-family: 'Google Sans Regular';
    src: url('../../assets/fonts/GoogleSans-Regular.woff') format('woff'),
    url('../../assets/fonts/GoogleSans-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Google Sans Medium';
    src: url('../../assets/fonts/GoogleSans-Medium.woff') format('woff'),
    url('../../assets/fonts/GoogleSans-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Google Sans Bold';
    src: url('../../assets/fonts/GoogleSans-Bold.woff') format('woff'),
    url('../../assets/fonts/GoogleSans-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../../assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}