@import url(./fonts.scss);
@import url(./fonts-icon.scss);

//Vars
$colorMenuText: #5F6348;

//mexin
@mixin title {
    padding: 44px 0 20px 12px;
    font-size: 22px;
    font-family: "Google Sans",Arial,sans-serif;
}
@mixin slider {
    padding: 12px 0;
    display: flex;
    align-items: center;
    .slick-prev,
    .slick-next{
        border: none;
        background-color: transparent;
        position: absolute;
        z-index: 100;
        font-size: 0;
    }
    .slick-next{
        right: 0;
        &::before {
            content: '\e809' !important;
        }
    }
    &:hover {
        .slick-prev,
        .slick-next {
            font-size: 0;
            width: 56px;
            height: 56px;
            border-radius: 28px;
            box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
            transition: .2s;
            &::before {
                content: '\e808';
                font-family: 'fontello';
                position: absolute;
                font-size: 35px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
                background-color: #edf5fd;
            }
        }
    }
}
@mixin slider-item {
    width: 164.52px;
    min-height: 241.52px;
    padding: 12px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #202124;
    transition: .2s;
    &:hover {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}
@mixin slider-img {
    width: 140.52px;
    height: 140.52px;
    margin: 0 0 12px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 20%;
        border-width: 0;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    }
}
@mixin slider-name {
    fill: rgb(32,33,36);
    stop-color: rgb(32,33,36);
    font-size: 14px ;
    font-weight: 400;
    letter-spacing: .0178571429em;
    line-height: 1.25rem;
}
@mixin slider-rating {
    font-size: 14px;
    margin-top: 3px;
    span{
        position: relative;
        margin-left: 3px;
        &::before {
            content: '\e801';
            font-family: 'fontello';
            position: absolute;
            width: 13px;
            height: 20px;
            top: 50%;
            left: 0;
            font-size: 12px;
            transform: translateY(-35%);
        }
    }
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 12px;
}
body{
    margin: auto;
    padding: 0;
    font-family: 'Roboto Regular',Helvetica,Arial,sans-serif;
    font-size: 16px;
    max-width: 1920px !important;
    min-width: 320px;
    color: #202124;
}
//header
.header {
    color: $colorMenuText;
    background-color: #fff;
    font-family: "Google Sans",Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.375rem;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0 24px 0 24px;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    top: 0;
    z-index: 999;
}
.header__boxShadow {
    box-shadow: 0 0 10px rgb(60 64 67 / 30%), 0 0 5px 2px rgb(60 64 67 / 15%);
}
.header-nav {
    max-height: 64px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}
.header-nav--gridTemplateColumns3{
    grid-template-columns: 1fr 2fr 1fr;
}
.header__menu-inner{
    display: grid;
    grid-template-columns: 0.23fr 1.2fr;
}
.header__logo,
.footer__logo {
    display: flex;
    align-items: center;
    margin: 0 14px 0px 0;
    color: $colorMenuText;
    padding: 5px 0;
    width: 212px;
}
.header__logo-svg,
.footer__logo-svg {
    margin: 0 8px 0 0;
    width: 45px;
    height: 45px;
}
.header__logo-txt,
.footer__logo-txt {
    font-size: 22px;
}
.header__clickDownloadUse,
.footer__clickDownloadUse{
    font-size: 10px;
    display: block;
    line-height: 10px;
}
.header__menu {
    display: grid;
    // align-items: center;
    ul {
        display: flex;
        align-items:center;
        gap: 20px;
    }
}
.header__li {
    a{
        padding: 15px;
        font-size: 14px;
        color: $colorMenuText;  
        border-bottom: 3px solid transparent;  
    }
}
.header__li--active{
        color: #01875f !important;
        border-bottom: 3px solid #01875f !important;
}
.header__search-menu {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding-right: 10px;
    align-items: center;
    a{
        color: $colorMenuText;
    }
}
.header__menu-icon-close{
    position: relative;
    .header__app-icon{
        transition: 1s;
            transform: perspective(600px) rotateY(180deg);
        }
    .header__close-icon{
        transition: 1s;
            transform: perspective(600px) rotateY(0deg);
        }
}
.header__menu-icon{
    display: flex;
    justify-content: center;
    width: 62px;
    height: 62px;
    padding: 16px 16px;
    background-color: #E0E5E9;
    transition: .2s;
    &:hover {
        background-color: #E0E5E9;
        border-radius: 50%;
    }
}
.header__app-icon {
    display: block;
    position: relative;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: 1s;
    &::before{
        content: '\e804';
        position: absolute;
        font-family: 'fontello';
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
        color: #000;
    }
}
.header__close-icon {
    display: block;
    position: relative;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    transition: 1s;
    &::before{
        content: '\e803';
        position: absolute;
        font-family: 'fontello';
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
        font-size: 45px;
        color: #000;
    }
}
.header__burger-menu-list {
    background-color: #F7F8FA;
    max-width: 375px;
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: -375px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10000;
    transition: .5s;
}
.header__burger-menu-list-show{
    left: 0px;
}
.header__burger-menu-close{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E5E9; 
    display: flex;
    align-items: center;
    position: relative;
}
.header__btn-close{
    background-color: transparent;
    border: none;
    color: #5f6348;
    display: inline-block;
    transition: .5s;
    &:hover {
        color: red !important;
    }
    &::before {
        content: '\e803';
        font-family: 'fontello';
        position: absolute;
        font-size: 40px;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}
.header__burger-menu-li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E5E9;
    .header__burger-menu-link{
        padding-left: 65px;
        height: 100%;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
        columns: #1C251A;
        position: relative;
        transition: .3s;
        &:hover {
            background-color: #01875f;
            color: #fff;
        }
        &::before {
            content: '';
            position: absolute;
            background: url(../../assets/img/graphic.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
    
        }
    }
}
.header__burger-menu-li:nth-child(2){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/multimedia.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.header__burger-menu-li:nth-child(3){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/system.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.header__burger-menu-li:nth-child(4){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/Internet.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.header__burger-menu-li:nth-child(5){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/office.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.header__burger-menu-li:nth-child(6){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/safety.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.header__burger-menu-li:nth-child(7){
    .header__burger-menu-link{
        &::before {
            background: url(../../assets/img/games.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.header__search {
    position: relative;
    padding: 24px;
    border: 0;
    transition: .2s;
    &::before {
        content: '\e800';
        font-family: 'fontello';
        position: absolute;
        font-size: 24px;
        font-weight: 700;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
        background-color: #f5f5f5;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    }

}
.header__front,
.header__back,
.header__reg {
    position: relative;
    padding: 24px;
    border: 0;
    transition: .2s;
    &::before {
        content: "\f002";
        font-family: 'icomoon';
        position: absolute;
        font-size: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
        background-color: #f5f5f5;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    }
}
.header__dark-night {
    position: relative;
        .header__front{
            transform: perspective(600px) rotateY(180deg);
        }
        .header__back{
            transform: perspective(600px) rotateY(0deg);
        }
}
.header__front{
    display: block;
    background: #81919E;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    padding: 31px;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    &::before{
        content: '';
        position: absolute;
        background: url(../../assets/img/day.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
        background: #81919E;
        border-radius: 50%;
    }
}
.header__back{
    position: absolute;
    top: 0;
    display: block;
    background: #1e242f;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    padding: 31px;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    &::before{
        content: '';
        position: absolute;
        background: url(../../assets/img/night.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
        background: #1C212D;
        border-radius: 50%;
    }
}
.header__reg {
    border-radius: 50%;
    &::before {
        content: "\e900";
    }
}
//Стили для день ночь
.dark {
    background: #161D27 !important;
    body{
        color: #d1cbcb !important;
        nav{
            background: #161D27 !important; 
        }
        .desctiptionSite{
            background: #161D27 !important; 
        }
        .slick-prev,
        .slick-next {
            color: #fbab18;
        }
        .footer {
            background-color: #161D27 !important;
        }
        .viewHeader__title {
        color: #d1cbcb !important;
}
    }
}
.dark a {
    color: #d1cbcb !important;
}
//Форма поиска
.header__srch {
    position: relative;
}
.header__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 720px;
    min-width: 285px;
    animation: headerLabel 1s ;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes headerLabel {
    0%{
        opacity: 0;
        scale: (.9);
    }
    100%{
        opacity: 1;
        scale: (1);
    }
}
.header__labelHide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 720px;
    min-width: 285px;
    animation: headerLabelHide .5s ;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes headerLabelHide {
    0%{
        opacity: 1;
        scale: (1);
    }
    100%{
        opacity: 0;
        scale: (.9);
    }
}

.header__search-icon {
    position: relative;
    &::before {
        content: '\e800';
        font-family: 'fontello';
        position: absolute;
        font-size: 16px;
        font-weight: 700;
        padding: 9px 18px 11px;

    }
}
.header__search-clear{
    position: relative;
    &::before {
        content: '\e803';
        font-family: 'fontello';
        position: absolute;
        font-size: 16px;
        font-weight: 700;
        padding: 9px 18px 11px;
        right: 0;
    }
    &:hover {
        cursor: pointer;
    }
}
.header__input {
    font-family: "Google Sans",Arial,sans-serif;
    line-height: 24px;
    letter-spacing: .00625em;
    color: rgb(32,33,36);
    width: calc(100% - 100px);
    height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border: none ;
    border-radius: 8px;
    border-color: rgb(218,220,224);
    border-bottom: solid 1px;
    font-size: 16px;
    padding: 0 50px 0 50px;
}
//btnFixed
.btnFixed__box {
    display: flex;
    justify-content:flex-end;
    padding-right: 40px;
}
.btnFixed__btnTopFixed {
    display: block;
    color: #ffffff;
    background-color: #ed1c94;
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    z-index: 999;
    bottom: 40px;
    animation-name: btn;
    animation-duration: 1s;
    transition: .45s all ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: #981df0;
        text-decoration: none;
    }
    &::before {
        content: '\e807';
        font-family: 'fontello';
        position: absolute;
    }
}
@keyframes  btn{
    from {
        opacity: 0;
        bottom: -50px;
    }
    to {
        opacity: 1;
        bottom: 40px;
    }
} 
//Hiden and show
.hiden{
    display: none;
}
.show{
    display: block;
}

//desctiptionSite
.desctiptionSite {
    text-align: center;
    background-color: #f7f8fa;
    padding: 5px 0;
    margin-top: 64px;
}
.desctiptionSite__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}
.desctiptionSite__dscr {
    line-height: 24px;
    margin-top: 10px;
}

//novelties новинки
.novelties__title {
    @include title();
}
.slider {
    @include slider();
}
.novelties__slider-item {
    @include slider-item();
}
.novelties__img {
    @include slider-img();
}
.novelties__name {
    @include slider-name();
}
.novelties__rating {
    @include slider-rating();
}
//popular
.popular__title {
    @include title();
}
.slider {
    @include slider();
}
.popular__slider-item {
    @include slider-item();
}
.popular__img {
    @include slider-img();
}
.popular__name {
    @include slider-name();
}
.popular__rating {
    @include slider-rating();
}
//recommended
.recommended__title {
    @include title();
}
.slider {
    @include slider();
}
.recommended__slider-item {
    @include slider-item();
}
.recommended__img {
    @include slider-img();
}
.recommended__name {
    @include slider-name();
}
.recommended__rating {
    @include slider-rating();
}
//graphic
.graphic__title {
    @include title();
}
.slider {
    @include slider();
}
.graphic__slider-item {
    @include slider-item();
}
.graphic__img {
    @include slider-img();
}
.graphic__name {
    @include slider-name();
}
.graphic__rating {
    @include slider-rating();
}
//
.multimedia__title {
    @include title();
}
.slider {
    @include slider();
}
.multimedia__slider-item {
    @include slider-item();
}
.multimedia__img {
    @include slider-img();
}
.multimedia__name {
    @include slider-name();
}
.multimedia__rating {
    @include slider-rating();
}
//system
.system__title {
    @include title();
}
.slider {
    @include slider();
}
.system__slider-item {
    @include slider-item();
}
.system__img {
    @include slider-img();
}
.system__name {
    @include slider-name();
}
.system__rating {
    @include slider-rating();
}
//internet
.internet__title {
    @include title();
}
.slider {
    @include slider();
}

.internet__slider-item {
    @include slider-item();
}

.internet__img {
    @include slider-img();
}

.internet__name {
    @include slider-name();
}

.internet__rating {
    @include slider-rating();
}
//офис
.office__title {
    @include title();
}
.slider {
    @include slider();
}

.office__slider-item {
    @include slider-item();
}

.office__img {
    @include slider-img();
}

.office__name {
    @include slider-name();
}

.office__rating {
    @include slider-rating();
}
//safety
.safety__title {
    @include title();
}
.slider {
    @include slider();
}

.safety__slider-item {
    @include slider-item();
}

.safety__img {
    @include slider-img();
}

.safety__name {
    @include slider-name();
}

.safety__rating {
    @include slider-rating();
}
//forGames
.forGames__title {
    @include title();
}

.forGames__box {}

.slider {
    @include slider();
}

.forGames__slider-item {
    @include slider-item();
}

.forGames__img {
    @include slider-img();
}

.forGames__name {
    @include slider-name();
}

.forGames__rating {
    @include slider-rating();
}

//footer
.footer {
    background-color:  #f7f8fa ;
    border-top: 1px solid #E0E5E9;
    padding: 20px 0;
    margin-top: 60px;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 14px;
}
.footer__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}
.footer__title {
    margin: 15px 0 30px;
    line-height: 21px;
}
.footer__center {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__link {
    color: #5f6368;
}

//View.html
.viewHeader {
    margin-top: 64px;
}

.viewHeader__box {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.viewHeader__left {}

.viewHeader__title {
    font-family: "Google Sans", Arial, sans-serif;
    line-height: 4.75rem;
    font-size: 64px;
    letter-spacing: 0;
    font-weight: 600;
    color: #202124;
}

.viewHeader__wrapper {
    height: 64px;
    margin: 16px 0 24px;
    padding: 12px 0;
    display: flex;
    gap: 50px;
}

.viewHeader__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.viewHeader__inner:nth-child(1) {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 30px;
        background-color: #e8eaed;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
    }
    .viewHeader__amount {
        position: relative;
        &::after {
            content: '\e801';
            font-family: 'fontello';
            position: absolute;
            font-size: 11px;
            right: -15px;
        }
    }
}

.viewHeader__amount {
    font-size: 14px;
}

.viewHeader__download-reviews {
    font-size: 12px;
}

.viewHeader__btn-link {
    max-width: 200px;
    max-height: 48px;
    padding: 16px 70px;
    border-radius: 7px;
    background-color: #01875f;
    color: #fff;
    transition: .3s;
    &:hover {
            background-color: #016f4e;
    }
}

.viewHeader__right {
    max-width: 240px;
}

.viewHeader__img {
    width: 100%;
    border-radius: 20%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
//Content
.slider-view {
    @include slider();
    .slick-next {
        right: 20px;
    }
}
.content {
    margin-top: 64px;
}

.content__box {
    display: flex;
    gap: 50px;
}

.content__left {
    max-width: 72%;
}

.content__slider-item {
    width: 166px ;
    min-height: 241.52px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 16px;
    color: #202124;
}

.content__img {
    max-width: 166px;
    height: 296px;
    margin: 0 0 12px;
    img {
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        border-radius: 8px;
        cursor: pointer;
    }
}
//
.content__similar-applications-title {
    font-size: 22px;
    font-family: "Google Sans", Arial, sans-serif;
    padding: 40px 0;
}

.content__similar-applications {
    display: flex;
    gap: 20px;
    padding: 15px 10px;
    border-radius: 8px;
    margin: 0 -12px;
    transition: .3s;
    color: #202124;
    &:hover {
        background-color: #f5f5f5;
        color: #202124 !important;
    }
}

.content__img-mini {
    width: 64px;
    height: 64px;
    img{
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        border-radius: 12px;
    }
}

.content__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
}

.content__mini-dscr {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .2px;
}

.content__rating {
    position: relative;
    &::before {
        content: '\e801';
        font-family: 'fontello';
        position: absolute;
        left: 23px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }
}
